<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/fontawesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<div class="navbar-left">
</div>

<div class="section-container">
	<div class="section-icon">Education Tools</div>
	<div class="section-icon">Science Tools</div>
</div>
<div class="subsection-container">

	<div class="subsection" id="microscope">
		<i class="fa fa-gear"></i>
		Microscope
	</div>

	<div class="subsection" id="metallography">
		Metallography
	</div>

	<div class="subsection" id="ebsd">
		EBSD
	</div>

	<div class="subsection" id="crystallography">
		Crystallography
	</div>

</div>


<script src="/js/home.js"></script>
</body>
</html>
