html, body{
	width: 100%;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: 300
}
.navbar-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	background-color: #222;
	margin-bottom:20px;
}

.navbar-left{
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	background-color: #222;
	margin-right: 20px;
}


.section-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: center;
	width: 100%;
	margin-bottom: 50px;
}

.section-icon{
	width: 200px;
	height: 200px;
	background-color: #119;
	color: #fff;
	border-radius: 20px;
	line-height: 100px;
	text-align: center;
}

.subsection-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: center;
	width: 100%;
	margin: 20px;
}

.subsection {
	width: 150px;
	height: 100px;
	margin-bottom: 10px;
	background-color: #191;
	color: #fff;
	line-height: 40px;
	text-align: center;
	padding-top: 20px;
	border-radius: 10px;
	box-shadow: 4px 4px 4px #999
}

.subsection:hover{
	background-color: #3a2
}
.subsection:active{
	background-color: #3a2;
	transform: translate( 4px, 4px );
	box-shadow: none;
}

#mainWindow{
	margin-left: 100px;

}

.nav-icon{
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.nav-icon < a{
	text-decoration: none;
}
